{% extends 'base.html' %}

{% block content%}
<!-- Dans template.html -->

<!-- Bouton pour ouvrir la modal de confirmation -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
    Supprimer toutes les données
</button>
  
  <!-- Modal de confirmation de suppression -->
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation de suppression</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer toutes les données de l'application ? Cette action est irréversible.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-danger" id="confirmDeleteButton">Supprimer tout</button>
        </div>
      </div>
    </div>
  </div>
<script>
    document.getElementById('confirmDeleteButton').addEventListener('click', function() {
    // Envoyer une requête AJAX pour supprimer toutes les données
    fetch('/supprimer-donnees/', {
        method: 'POST',  // Méthode HTTP
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'  // Ajouter le jeton CSRF pour la protection CSRF
        },
        // Redirection après la suppression
        redirect: 'follow'
    })
    .then(response => {
        if (response.redirected) {
            // Si la réponse a été redirigée, actualiser la page pour afficher la page de confirmation ou une autre page
            window.location.href = response.url;
        }
    })
    .catch(error => {
        console.error('Erreur lors de la suppression des données :', error);
        // Gérer les erreurs (afficher un message d'erreur, etc.)
    });
});
</script>  

{% endblock %}