<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Fiabilisation</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">se deconnecter</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'update_details' %}">Ajouter utilisateur</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'insert' %}">Ajouter Fichier</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">s'incrire</a>
                </li
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">se connecter</a>
                </li>
                {% endif %}
            </ul>
            <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        </div>
    </div>
</nav>