<style>
    .exit {
        color: rgb(254, 254, 254);
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'welcome' %}">Fiabilisation</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Date Fiab'</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status' %}">Status Fiabilisation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'adfile' %}">Full Account AD </a>
                </li>

                <a class="nav-link" href="{% url 'temporaire_drh' %}">
                    Liste DRH
                </a>
        

                <a class="nav-link" href="#" onclick="return confirm('Es-tu sûr de vouloir supprimer toutes les données ?') ? window.location.href='{% url 'supprimer_toutes_donnees' %}' : false;">
                    Supprimer les données
                </a>

                <li class="nav-item">
                    <a class="nav-link exit" href="{% url 'logout' %}">Déconnexion sécurisée</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Connexion sécurisée</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Nouvel utilisateur</a>
                </li>
                {% endif %}
            </ul>
            <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        </div>
    </div>
</nav>